# data mode: mock or supabase
VITE_DATA_MODE=mock

# required only when VITE_DATA_MODE=supabase
VITE_SUPABASE_URL=https://your-project-ref.supabase.co
VITE_SUPABASE_ANON_KEY=your-anon-key

# AMap JS key (frontend key)
VITE_AMAP_KEY=174814bd5c505da998169b604aaf0501
VITE_AMAP_SECRET=e4dedcf2a28330b094c5ce0ec4b03a91
